{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="flex h-screen">
        {% include './layout/welcome_nav.html.twig' %}
        <div class="w-full h-fit lg:w-3/4 bg-no-repeat bg-cover"
             style="background-image: url('/images/templates/background-welcome.png');">
            <div class="flex min-h-full flex-col px-6 py-12 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    {% include './components/title.html.twig' with {
                        'balise': 'h2',
                        'title': 'Inscrivez-vous',
                        'class' : 'text-center text-3xl font-bold leading-9 tracking-tight text-white'
                    } %}
                </div>
                <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                    {{ form_start(form, {'attr': {'class': 'connection'}}) }}
                    {% for child in form.children %}
                        <div class="mb-4">
                            {{ form_row(child) }}
                        </div>
                    {% endfor %}
                    <div class="mt-4">
                        {% include './components/button.html.twig' with {
                            'class': 'flex w-full items-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus:outline-none focus-visible:ring focus-visible:ring-gray-300 focus-visible:border-gray-300 focus-visible:outline-offset-2 border border-2 border-solid p-4 shadow-lg  justify-around  bg-white-200 bg-white hover:bg-white-400 ',
                            'label': 'S\'inscrire',
                        } %}
                        {{ form_end(form) }}
                    </div>
                    <div>
                        {% include './components/text_connection.html.twig' with {
                            'title': 'Déjà membre?',
                            'text': 'Se connecter',
                            'link': path('app_login')
                        } %}
                        {% include './layout/footer_security.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
