{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block main %}$

    <h1>Devis {{ quote.id }}</h1>

    {% include './quotes/quote_preview.html.twig' with {
        'quote': quote,
    } %}

{% endblock %}
