{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block main %}

    <h1 class="text-3xl font-semibold mb-6 dark:text-white">Devis n°{{ quote.id }}</h1>

    <div class="p-4 mb-8 w-3/5 mx-auto rounded-lg dark:text-white dark:bg-gray-900">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% include './components/button.html.twig' with {
            'class': 'bg-primary hover:bg-primary-hover text-center text-white font-bold py-2 px-4 rounded w-full',
            'label': 'Convertir en facture',
        } %}
    {{ form_end(form) }}
    </div>


    {% include './layout/preview.html.twig' with {
        'value': quote,
        'title': 'Devis',
        'pre': 'DE',
    } %}

{% endblock %}
