{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block main %}
    {% include './layout/search_border.html.twig' with {
        'form': form,
        'entity': 'Catégories',
        'values': categories,
        'path': path('app_user_category_add'),
        'class': 'fancy-add bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded float-right',
        'label': 'Ajouter une catégorie',
        'right': 'ROLE_USER'
    } %}
    <div class="mt-4">
        <table class="table table-bordered table-striped table-hover w-full text-center dark:text-white">
            <thead>
            <tr>
                {% include './components/sorted.html.twig' with {
                    'title': 'Nom',
                    'entity': categories,
                    'value': 'c.name',
                } %}
                {% include './components/sorted.html.twig' with {
                    'title': 'Nombre de produits',
                    'entity': categories,
                } %}
                <th class="border">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td class="border">{{ category.name }}</td>
                    <td class="border">{{ category.products|length }}</td>
                    <td class="text-center border">
                        {% include './components/a_table.html.twig' with {
                            'path': path('app_user_category_edit', { 'id': category.id }),
                            'fa': 'edit'
                        } %}
                        {% include './components/a_table.html.twig' with {
                            'path': path('app_user_category_delete', { 'id': category.id, 'token': csrf_token('delete' ~ category.id) }),
                            'fa': 'trash'
                        } %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center border">Aucune catégorie définie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if categories is not empty %}
            {{ knp_pagination_render(categories) }}
        {% endif %}
    </div>
{% endblock %}
