<nav id="top-menu" class="transition-top-menu duration-2 ease-ease bg-blue-500 p-4 z-10 relative">
    <div class="container mx-auto flex justify-between items-center">
        <button id="burger-menu" class="text-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                 class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
        <ul class="flex space-x-4">
            <li><a href="" class="text-white hover:text-gray-300">Demo</a></li>
            <li><a href="" class="text-white hover:text-gray-300">Information</a></li>
            <li><a href="" class="text-white hover:text-gray-300">Identifiant</a></li>
        </ul>
    </div>
</nav>

<div id="left-menu" class="-left-[192px] transition-left-menu duration-2 ease-ease bg-gray-800 text-white h-screen w-48 fixed top-0 z-0">
    <ul class="py-4">
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
            </a>
        </li>
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-chart-line mr-2"></i> Reports
            </a>
        </li>
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-file-invoice mr-2"></i> Invoices
            </a>
        </li>
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-file-signature mr-2"></i> Bills
            </a>
        </li>
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-file-alt mr-2"></i> Estimates
            </a>
        </li>
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-map-marked-alt mr-2"></i> Track
            </a>
        </li>
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-users mr-2"></i> Clients
            </a>
        </li>
        <li class="px-6 py-2 hover:bg-gray-700">
            <a href="">
                <i class="fas fa-cogs mr-2"></i> Business Settings
            </a>
        </li>
    </ul>
</div>
