{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% set backgroundClass = 'bg-black' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="flex h-screen">
        <div class="w-1/4 bg-white p-8">
            <div class="text-2xl font-bold mb-4 text-center">Fitness Invoicer</div>
            <div class="text-sm text-gray-600 mb-8 text-center">Votre web app qui vous permet de gérer vos factures de manière
                simple.
            </div>
            <div class="mb-8">
                <div class="w-0 h-0 border-t-4 border-b-4 border-transparent border-l-4 border-green-500 inline-block mr-2"></div>
                <div class="inline-block">Rapidité</div>
            </div>
            <div class="mb-8">
                <div class="w-0 h-0 border-t-4 border-b-4 border-transparent border-l-4 border-green-500 inline-block mr-2"></div>
                <div class="inline-block">Facilité</div>
            </div>
            <div class="mb-8">
                <div class="w-0 h-0 border-t-4 border-b-4 border-transparent border-l-4 border-green-500 inline-block mr-2"></div>
                <div class="inline-block">Efficacité</div>
            </div>
            <div>
                {% include './components/a.html.twig' with {
                    'bg_color': 'white',
                    'text_color': 'black',
                    'label': 'Découvrir dès maintenant',
                    'autre': 'border border-2 border-solid p-4 shadow-lg'
                } %}
            </div>
        </div>
        <div class="w-3/4 p-8">
            <form action="{{ path('app_login') }}" method="post">
                <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
                    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-100">
                            Connectez-vous</h2>
                    </div>

                    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                        <form class="space-y-6" action="#" method="POST">
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                            <div class="flex justify-end mb-4">
                                <a href="#" class="text-white text-sm hover:text-gray-300 ml-2">Mot de passe oublié?</a>
                            </div>
                            <div>
                                {% include './components/a.html.twig' with {
                                    'bg_color': 'gray',
                                    'text_color': 'black',
                                    'label': 'Connexion',
                                } %}
                            </div>
                        </form>

                        <p class="mt-10 text-center text-sm text-gray-500">
                            Pas encore membre?
                            <a href="#" class="font-semibold leading-6 text-green-600 hover:text-green-500">Créer un
                                compte</a>
                        </p>
                        <div class="flex justify-center mt-2 space-x-2">
                            <img src="./assets/images/logo-fb.svg" alt="Facebook" class="w-6 h-6">
                            <img src="./assets/images/logo-twitter.svg" alt="Twitter" class="w-6 h-6">
                            <img src="./assets/images/logo-google.svg" alt="Google" class="w-6 h-6">
                            <img src="./assets/images/logo-linkedin.svg" alt="Linkedin" class="w-6 h-6">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
