{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block main %}

    <h1>Sélection du statut de la facture</h1>

    {% if invoice.isValid %}
        <h2>La facture est valide</h2>

        {{ form_start(form) }}
        {{ form_row(form.status) }}
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}

    {% else %}

        <h2>La facture n'est pas valide</h2>
        {% for error in invoice.IsNotValidErrors %}
            <p>{{ error }}</p>
        {% endfor %}

    {% endif %}



    {% include './invoices/invoice_preview.html.twig' with {
        'invoice': invoice,
    } %}

    {% include './components/a.html.twig' with {
        'path': path('app_user_invoice_step_two', {'id': invoice.id}),
        'class': 'text-white font-bold py-2 px-4 rounded',
        'label': 'Étape Précédente',
    } %}

{% endblock %}
