{% extends 'base.html.twig' %}

{% block title %}{{ action }}{% endblock %}

{% block main %}
    <h1>{{ action }}</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
