<a href="#"
   class="flex w-full justify-center rounded-md bg-{{ bg_color }}-50 text-{{ text_color }} px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus:outline-none hover:bg-{{ bg_color }}-300 focus-visible:ring focus-visible:ring-gray-300 focus-visible:border-gray-300 focus-visible:outline-offset-2">
    {{ label }}
</a>
