<a href="{{ path }}"
   class="font-bold {% if class is defined %}{{ class }}{% endif %} ">
        {{ label }}
    {% if fa is defined %}
        <i class="fas fa-{{ fa }}"></i>
    {% endif %}
</a>
