<li class="rounded hover:bg-primaryLighter hover:text-secondary hover:stroke-primary stroke-grey p-2">
    <a href="{{ path }}" class="flex nowrap gap-x-4 uppercase items-center">
        {% if fa is defined %}
            &nbsp; <i class="fas fa-{{ fa }}"></i>
        {% endif %}
        {{ name }}
    </a>
</li>