<a {% if path is defined %}href="{{ path }}"{% endif %} class="rounded-xl p-1 hover:bg-primaryLighter dark:text-white transition-colors duration-500">
    {% if fa is defined %}
        <i class="fas fa-{{ fa }}"></i>
    {% endif %}
</a>
