<button id="{{ id }}"
        class="rounded-xl p-0.5 hover:bg-primaryLighter bg-primaryLighter fill-grey dark:hover:bg-primary dark:bg-transparent dark:fill-white transition-colors duration-500">
    {% if fa is defined %}
        <i class="fas fa-{{ fa }}"></i>
    {% endif %}
</button>
