<button id="{{ id }}"
        class="rounded-xl p-1 hover:bg-primaryLighter dark:hover:bg-white transition-colors duration-500">
    {% if fa is defined %}
        <i class="fas fa-{{ fa }}"></i>
    {% endif %}
</button>
