{% for type, flashMessages in app.flashes %}
    {% set alertClass = type == 'success' ? 'text-secondary dark:text-secondary-hover' : 'text-tertiary dark:text-tertiary-hover' %}
    <div class="flex items-center p-4 mb-4 text-md border rounded-lg" role="alert">
        <i class="fas fa-exclamation-circle {{alertClass}}"></i> &nbsp;
        {% for message in flashMessages %}
            <div class="flex flex-col w-full">
                <div class="flex items-center">
                    <span class="font-medium {{alertClass}}">{{ type|capitalize }} alert</span>
                    &nbsp;
                    <p class="dark:text-white ml-2">{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
