{# components/input.html.twig #}
{%- block input_widget -%}
    <div class="mb-4">
        <label class="block text-white text-sm font-bold mb-2" for="{{ id }}">
            {{ label }}
        </label>
        <input id="{{ id }}" name="{{ name }}" class="shadow appearance-none border rounded w-full py-2 opacity-60 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white opacity-80" style="line-height: 1.25; padding-bottom: 0.5rem;">
    </div>
{%- endblock input_widget -%}
