<p class="mt-10 text-center text-sm text-gray-400">
    {{ title }}
    {% include './components/a_login.html.twig' with {
        'path': link,
        'class': 'font-semibold leading-6 hover:text-secondary-hover text-secondary',
        'label': text
    } %}
</p>