<p class="mt-10 text-center text-sm text-gray-500">
    {{ title }}
    {% include './components/a.html.twig' with {
        'path': link,
        'class': 'font-semibold leading-6 text-green-600 hover:text-green-500',
        'label': text
    } %}
</p>