<div class="flex justify-around bg-grey rounded-md items-center text-center p-2 dark:bg-gray-800">
    {% if vich_uploader_asset(companySession.getCurrentCompanyTwig, 'imageFile') %}
    <img src="{{ vich_uploader_asset(companySession.getCurrentCompanyTwig, 'imageFile') }}"
         class="w-14 h-14 rounded-md aspect-square object-cover">
    {% endif %}
    <h1 class="text-base font-bold uppercase">
        <p>{{ companySession.getCurrentCompanyTwig.slug }}</p>
        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-1 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}
        <div class="flex justify-around">
            {% include './components/a_table.html.twig' with {
                'path': path('app_user_company_set'),
                'fa': 'sync rotate'
            } %}
            {% if is_granted('company_referent') %}
                {% include './components/a_table.html.twig' with {
                    'path': path('app_user_company_show', { 'id': companySession.getCurrentCompanyTwig.id }),
                    'fa': 'edit'
                } %}
            {% endif %}
        </div>
    </h1>
</div>