<div class="flex justify-around mt-8">
    {% include './components/a_login.html.twig' with {
        'path': "#",
        'class': 'text-2xl text-center w-12 h-12 p-2 rounded-full bg-white bg-opacity-80 text-dark',
        'label': '',
        'fa': 'square-instagram fa-brands'
    } %}
    {% include './components/a_login.html.twig' with {
        'path': "#",
        'class': 'text-2xl text-center w-12 h-12 p-2 rounded-full bg-white bg-opacity-80 text-dark',
        'label': '',
        'fa': 'square-facebook fa-brands'
    } %}
    {% include './components/a_login.html.twig' with {
        'path': "#",
        'class': 'text-2xl text-center w-12 h-12 p-2 rounded-full bg-white bg-opacity-80 text-dark',
        'label': '',
        'fa': 'square-twitter fa-brands'
    } %}
    {% include './components/a_login.html.twig' with {
        'path': "#",
        'class': 'text-2xl text-center w-12 h-12 p-2 rounded-full bg-white bg-opacity-80 text-dark',
        'label': '',
        'fa': 'linkedin fa-brands'
    } %}
</div>