<div class="w-1/4 bg-white p-8 pt-16 hidden md:block">
    <div class="text-3xl font-bold mb-4 text-center">Fitness Invoicer</div>
    <div class="text-base text-dark mb-8 text-center">Votre web app qui vous permet de gérer vos factures de
        manière
        simple.
    </div>
    <div class="m-1 flex items-center">
        <div class="fas fa-caret-right text-5xl text-secondary mr-6"></div>
        <div class="text-xl">Rapidité</div>
    </div>
    <div class="m-1 flex items-center">
        <div class="fas fa-caret-right text-5xl text-secondary mr-6"></div>
        <div class="text-xl">Facilité</div>
    </div>
    <div class="m-1 mb-8 flex items-center">
        <div class="fas fa-caret-right text-5xl text-secondary mr-6"></div>
        <div class="text-xl">Efficacité</div>
    </div>
    <div>
        {% include './components/button.html.twig' with {
            'label': 'Découvrir dès maintenant',
            'fa': 'arrow-right',
            'class': 'flex w-full items-center mb-8 rounded-md px-4 py-1.5 text-xl font-semibold leading-6 shadow-sm focus:outline-none focus-visible:ring focus-visible:ring-gray-300 focus-visible:border-gray-300 focus-visible:outline-offset-2 border border-2 border-solid p-4 shadow-lg items-center justify-between',
        } %}
    </div>
    {% include './components/error.html.twig' %}

</div>