<div class="w-1/4 bg-white p-8">
    <div class="text-2xl font-bold mb-4 text-center">Fitness Invoicer</div>
    <div class="text-sm text-gray-600 mb-8 text-center">Votre web app qui vous permet de gérer vos factures de
        manière
        simple.
    </div>
    <div class="mb-8">
        <div class="w-0 h-0 border-t-4 border-b-4 border-transparent border-l-4 border-green-500 inline-block mr-2"></div>
        <div class="inline-block">Rapidité</div>
    </div>
    <div class="mb-8">
        <div class="w-0 h-0 border-t-4 border-b-4 border-transparent border-l-4 border-green-500 inline-block mr-2"></div>
        <div class="inline-block">Facilité</div>
    </div>
    <div class="mb-8">
        <div class="w-0 h-0 border-t-4 border-b-4 border-transparent border-l-4 border-green-500 inline-block mr-2"></div>
        <div class="inline-block">Efficacité</div>
    </div>
    <div>
        {% include './components/a.html.twig' with {
            'bg_color': 'white',
            'label': 'Découvrir dès maintenant',
            'path': '#',
            'class': 'flex w-full items-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus:outline-none focus-visible:ring focus-visible:ring-gray-300 focus-visible:border-gray-300 focus-visible:outline-offset-2 border border-2 border-solid p-4 shadow-lg items-center justify-between',
            'fa': 'arrow-right',
        } %}
    </div>
</div>